@page
@model MacroFit.Pages.IndexModel
@if (Model.LoginCheck)
{
    <p>First Name: @Model.User.FirstName</p><br/>
    <p>Last Name: @Model.User.LastName</p><br />
    <p>User Daily Calorie Goal: @Model.User.UserSettings.CalorieGoal</p><br />

    <div class="row ">
        <div class="col">
            <div id="calories-circle"></div>
            <p class="text-center">Calories: @Model.MacronutrientData.Sum(b => b.Calories).ToString("0.##")kcal out of @Model.User.UserSettings.CalorieGoal.ToString("0.##")</p>
        </div>
        <div class="col">
            <p class="text-center">Carbohydrates: @Model.MacronutrientData.Sum(b => b.Carbohydrates).ToString("0.##")g out of @Model.GramsConverter(@Model.User.UserSettings.CalorieGoal,@Model.User.UserSettings.CarbohydratesPercentage, 4).ToString("0.##")</p>
        </div>
        <div class="col">
            <p class="text-center">Fat: @Model.MacronutrientData.Sum(b => b.Fat).ToString("0.##")g out of @Model.GramsConverter(@Model.User.UserSettings.CalorieGoal,@Model.User.UserSettings.FatPercentage, 9).ToString("0.##")</p>
        </div>
        <div class="col">
            <p class="text-center">Protein: @Model.MacronutrientData.Sum(b => b.Protein).ToString("0.##")g out of @Model.GramsConverter(@Model.User.UserSettings.CalorieGoal, @Model.User.UserSettings.ProteinPercentage, 4).ToString("0.##")</p>
        </div>
    </div>
}
else
{
    <partial name="_IndexPartial" />
}