@page
@model MacroFit.Pages.Exercises.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="btn-toolbar row" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group col" role="group" aria-label="First group">
        <button id="filter-1-month" class="btn btn-primary">1 Month</button>
        <button id="filter-6-months" class="btn btn-primary">6 Months</button>
        <button id="filter-1-year" class="btn btn-primary">1 Year</button>
    </div>
    <div class="btn-group col" role="group" aria-label="Second group">
        <button id="sort-ascending" class="btn btn-secondary">Ascending</button>
        <button id="sort-descending" class="btn btn-secondary">Descending</button>
    </div>
    <a class="col d-flex flex-row-reverse bd-highlight" asp-page="Create">
        <button class="btn btn-success dynamic-btn themed-btn" style="width: 50px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor">
                <!--! Font Awesome Free 6.1.1 - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path>
            </svg>
        </button>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserExercise[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserExercise[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserExercise[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserExercise[0].Intensity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserExercise) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intensity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
