@page
@using MacroFit.Models
@model MacroFit.Pages.Log.ScannerModel
@{
}
<div class="btn-toolbar row" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group col" role="group" aria-label="First group">
        <input class="form-control" type="text" placeholder="Search for food products" id="search-input" style="color: var(--text-primary-color);background: var(--bg-primary-color);border-top-left-radius: 12px;border-bottom-left-radius: 12px;border-width: 5px;border-color: var(--bg-tertiary-color);">
        <button class="btn btn-secondary dynamic-btn themed-btn" type="button" id="search-btn" style="width: 50px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                <!--! Font Awesome Free 6.1.1 - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                <path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
            </svg>
        </button>
    </div>
    <a id="camera-toggle" class="col-auto d-flex flex-row-reverse bd-highlight">
        <button class="btn btn-success dynamic-btn themed-btn" style="width: 50px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                <path d="M194.6 32H317.4C338.1 32 356.4 45.22 362.9 64.82L373.3 96H448C483.3 96 512 124.7 512 160V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V160C0 124.7 28.65 96 64 96H138.7L149.1 64.82C155.6 45.22 173.9 32 194.6 32H194.6zM256 384C309 384 352 341 352 288C352 234.1 309 192 256 192C202.1 192 160 234.1 160 288C160 341 202.1 384 256 384z"></path>
            </svg>
        </button>
    </a>
    <a class="col-auto d-flex flex-row-reverse bd-highlight" asp-page="Create">
        <button class="btn btn-success dynamic-btn themed-btn" style="width: 50px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor">
                <!--! Font Awesome Free 6.1.1 - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path>
            </svg>
        </button>
    </a>
</div>
<div class="camera-container">
    <div style="height: 40vh;background: #000000;border-radius: 12px;padding: 12px;">
        <div class="col-lg" id="reader"></div>
    </div>
</div>

<div class="row" style="margin: 0px;margin-right: -10px;margin-left: -10px;">
    <div class="col-md-6">
        <div>
            <div style="padding: 15px;border-radius: 14px;padding-bottom: 0px;">
                <h4 style="font-weight: bold;margin-top: 6px;">Search Results</h4>
            </div>
            <div id="products"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <div style="padding: 15px;border-radius: 14px;padding-bottom: 0px;">
                <h4 style="font-weight: bold;margin-top: 6px;">Recent Foods</h4>
            </div>
            @if (Model.RecentFoods == null || Model.RecentFoods.Count == 0)
{
                <p style="margin-top: 30px;color: var(--text-primary-color);opacity: 0.5;text-align: center;">No recent foods found</p>
            }
            else
            {
                 @foreach (var foodLog in Model.RecentFoods)
                {
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <h4 class="card-title">@foodLog.Food.Name</h4>
                            <h6 class="text-muted card-subtitle mb-2">@foodLog.Food.Barcode</h6>
                            <h6 class="text-muted card-subtitle mb-2" style="font-style: italic;padding: 2px;">per 100g</h6>
                            <div class="d-flex" style="margin-right: -5px;margin-left: -5px;min-width: 50%;">
                                <div class="d-flex align-items-start flex-column macro-container" style="color: var(--primary-color);border: 2px solid var(--primary-color);">
                                    <p class="text-center macro-value">@foodLog.Food.Calories kcal</p>
                                    <p class="text-center macro-name">Calories</p>
                                </div>
                                <div class="d-flex align-items-start flex-column macro-container" style="color: var(--primary-color);border: 2px solid var(--primary-color);">
                                    <p class="text-center macro-value">@foodLog.Food.Carbohydrates
                                        g</p>
                                    <p class="text-center macro-name">Carbs</p>
                                </div>
                                <div class="d-flex align-items-start flex-column macro-container" style="color: var(--primary-color);border: 2px solid var(--primary-color);">
                                    <p class="text-center macro-value">@foodLog.Food.Fat
                                        g</p>
                                    <p class="text-center macro-name">Fat</p>
                                </div>
                                <div class="d-flex align-items-start flex-column macro-container" style="color: var(--primary-color);border: 2px solid var(--primary-color);">
                                    <p class="text-center macro-value">@foodLog.Food.Protein
                                        g</p>
                                    <p class="text-center macro-name">Protein</p>
                                </div>
                            </div>
                            <a href="/Log/Create?FoodId=@foodLog.Food.Id">
                                <button class="btn btn-success dynamic-btn themed-btn" type="button" style="width: 50px;height: 50px;position: absolute;top: 15px;right: 15px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor">
                                        <!--! Font Awesome Free 6.1.1 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                        <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path>
                                    </svg>
                                </button>
                            </a>
                        </div>
                    </div>
                }
             }
        </div>
    </div>
</div>

<script src="~/js/html5-qrcode.min.js" type="text/javascript"></script>
<script src="~/js/scanner.js" type="text/javascript"></script>