@page
@model MacroFit.Pages.Users.Logs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FoodLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodLog.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodLog.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodLog.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodLog.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodLog.HungerLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodLog.HungerLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodLog.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodLog.Amount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FoodLog.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
