@page
@using MacroFit.Models
@model MacroFit.Pages.Foods.IndexModel
@{
    ViewData["Title"] = "Food Diary";
}

<!-- Import CSS for progress circles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/circle-progress@1.2.2/dist/circle-progress.min.css">
<link rel="stylesheet" href="~/css/progress_circles.css">
<!-- Import JavaScript for progress circles -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"></script>
<div class="card-focused" role="toolbar" aria-label="Toolbar with button groups">
    <div class="d-flex row" style="align-items: center;">
        <form method="get" class="btn-group col" role="group" aria-label="First group" style="margin-bottom:5px">
            <input type="date" name="date" class="form-control" value="@Model.LogDateTime.ToString("yyyy-MM-dd")" onchange="this.form.submit()">
        </form>
@*        <a class="col-auto d-flex flex-row-reverse bd-highlight" asp-page="Create">
            <button class="btn btn-success dynamic-btn themed-btn" style="width: 50px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor">
                    <!--! Font Awesome Free 6.1.1 - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path>
                </svg>
            </button>
        </a>*@
    </div>
    <div id="progress" class="row ">
        <div class="col">
            <div id="calories-circle"></div>
            <p class="text-center">Calories: @Model.MacronutrientData.Sum(b => b.Calories).ToString("0.##")kcal out of @Model.User.UserSettings.CalorieGoal.ToString("0.##")</p>
        </div>
        <div class="col">
            <div id="carbohydrates-circle"></div>
            <p class="text-center">Carbohydrates: @Model.MacronutrientData.Sum(b => b.Carbohydrates).ToString("0.##")g out of @Model.GramsConverter(@Model.User.UserSettings.CarbohydratesPercentage, 4).ToString("0.##")</p>
        </div>
        <div class="col">
            <div id="fat-circle"></div>
            <p class="text-center">Fat: @Model.MacronutrientData.Sum(b => b.Fat).ToString("0.##")g out of @Model.GramsConverter(@Model.User.UserSettings.FatPercentage, 9).ToString("0.##")</p>
        </div>
        <div class="col">
            <div id="protein-circle"></div>
            <p class="text-center">Protein: @Model.MacronutrientData.Sum(b => b.Protein).ToString("0.##")g out of @Model.GramsConverter(@Model.User.UserSettings.ProteinPercentage, 4).ToString("0.##")</p>
        </div>
    </div>
</div>

<style>
    .
</style>
<script>
     var caloriesPercentage = (@Model.MacronutrientData.Sum(b => b.Calories) / @Model.User.UserSettings.CalorieGoal) * 100;
     var carbohydratesPercentage = (@Model.MacronutrientData.Sum(b => b.Carbohydrates) / @Model.GramsConverter(@Model.User.UserSettings.CarbohydratesPercentage, 4)) * 100;
     var fatPercentage = (@Model.MacronutrientData.Sum(b => b.Fat) / @Model.GramsConverter(@Model.User.UserSettings.FatPercentage, 9)) * 100;
     var proteinPercentage = (@Model.MacronutrientData.Sum(b => b.Protein) / @Model.GramsConverter(@Model.User.UserSettings.ProteinPercentage, 4)) * 100;

     var caloriesCircle = new ProgressBar.Circle("#calories-circle", {
         color: "#2196f3",
        strokeWidth: 10,
        trailWidth: 10,
         duration: 1000,
         text: {
             value: caloriesPercentage.toFixed(0) + "%"
         },
         step: function(state, bar) {
             bar.setText((bar.value() * @Model.User.UserSettings.CalorieGoal).toFixed(0) + "kcal");
         }
     });
     caloriesCircle.animate(caloriesPercentage / 100);

     var carbohydratesCircle = new ProgressBar.Circle("#carbohydrates-circle", {
         color: "#2196f3",
        strokeWidth: 10,
        trailWidth: 10,
         duration: 1000,
         text: {
             value: carbohydratesPercentage.toFixed(0) + "%"
         },
         step: function(state, bar) {
             bar.setText((bar.value() * @Model.GramsConverter(@Model.User.UserSettings.CarbohydratesPercentage, 4)).toFixed(0) + "g");
         }
     });
     carbohydratesCircle.animate(carbohydratesPercentage / 100);

     var fatCircle = new ProgressBar.Circle("#fat-circle", {
         color: "#2196f3",
        strokeWidth: 10,
        trailWidth: 10,
         duration: 1000,
         text: {
             value: fatPercentage.toFixed(0) + "%"
         },
         step: function(state, bar) {
             bar.setText((bar.value() * @Model.GramsConverter(@Model.User.UserSettings.FatPercentage, 9)).toFixed(0) + "g");
         }
     });
     fatCircle.animate(fatPercentage / 100);

     var proteinCircle = new ProgressBar.Circle("#protein-circle", {
         color: "#2196f3",
         strokeWidth: 10,
         trailWidth: 10,
         duration: 1000,
         text: {
             value: proteinPercentage.toFixed(0) + "%"
         },
         step: function(state, bar) {
             bar.setText((bar.value() * @Model.GramsConverter(@Model.User.UserSettings.ProteinPercentage, 4)).toFixed(0) + "g");
         }
     });
     proteinCircle.animate(proteinPercentage / 100);
</script>

@*<ul>
    @foreach (var time in Model.RecommendedEatingTimes)
    {
        <li>@time.ToShortTimeString()</li>
    }

</ul>*@

<div class="card">
<table class="table" style="margin-bottom: -4px;">
        <thead>
            <tr>
                <th scope="col" colspan="4" class="d-flex justify-content-between">
                    <div>
                        Breakfast</br>
                        <p style="font-size: 0.75rem; margin: 0px; color:var(--text-primary-color);opacity: 0.75;margin-right: 55px;">
                            Calories: @Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast).Sum(m => m.Calories).ToString("0.##")kcal,
                            Carbohydrates: @Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast).Sum(m => m.Carbohydrates).ToString("0.##")g,
                            Fat: @Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast).Sum(m => m.Fat).ToString("0.##")g,
                            Protein: @Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast).Sum(m => m.Protein).ToString("0.##")g
                        </p>
                    </div>

                    <a class="btn btn-secondary dynamic-btn themed-btn" asp-page="/Log/Index" asp-route-MealType="breakfast" asp-route-Date="@Model.LogDateTime" style="width: 50px;height: 40px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                            <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path xmlns="http://www.w3.org/2000/svg" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z" />
                        </svg>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast))
            {
                <tr>
                    <td>
                        <div class="row justify-content-between" style="padding: 0px 14px;">
                            <div class="col-auto">
                                <p class="truncate" style="margin-bottom: 0px;width:320px">@item.FoodName</p>
                                <span style="opacity:0.6">@item.Amount.ToString("0.##") @item.AmountSymbol</span>
                            </div>
                            <div class="col d-flex flex-row-reverse nutrition-box-row">
                                <div class="col nutrition-box-col">
                                    <a class="btn btn-secondary dynamic-btn themed-btn" role="button" asp-page="./Edit" asp-route-id="@item.Id" style="width: 50px;height: 40px;margin-bottom: 11px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path xmlns="http://www.w3.org/2000/svg" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                                        </svg>
                                    </a>
                                    <a class="btn btn-secondary dynamic-btn themed-btn" role="button" asp-page="./Delete" asp-route-id="@item.Id" style="width: 50px;height: 40px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path xmlns="http://www.w3.org/2000/svg" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Protein.ToString("0.##")
                                        g
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Protein
                                    </p>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Fat.ToString("0.##")
                                        g
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Fat
                                    </p>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Carbohydrates.ToString("0.##")
                                        g
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Carbs
                                    </p>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Calories.ToString("0.#")
                                        kcal
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Calories
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
            <thead>
                <tr>
                    <th scope="col" colspan="4" class="d-flex justify-content-between">
                        <div>
                            Lunch</br>
                        <p style="font-size: 0.75rem; margin: 0px; color:var(--text-primary-color);opacity: 0.75;margin-right: 55px;">
                            Calories: @Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch).Sum(m => m.Calories).ToString("0.##")kcal,
                            Carbohydrates: @Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch).Sum(m => m.Carbohydrates).ToString("0.##")g,
                            Fat: @Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch).Sum(m => m.Fat).ToString("0.##")g,
                            Protein: @Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch).Sum(m => m.Protein).ToString("0.##")g
                        </p>
                        </div>

                        <a class="btn btn-secondary dynamic-btn themed-btn" asp-page="/Log/Index" asp-route-MealType="lunch" asp-route-Date="@Model.LogDateTime" style="width: 50px;height: 40px;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                <path xmlns="http://www.w3.org/2000/svg" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z" />
                            </svg>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch))
                {
                    <tr>
                        <td>
                            <div class="row justify-content-between" style="padding: 0px 14px;">
                                <div class="col-auto">
                                    <p class="truncate" style="margin-bottom: 0px;width:320px">@item.FoodName</p>
                                    <span style="opacity:0.6">@item.Amount.ToString("0.##") @item.AmountSymbol</span>
                                </div>
                                <div class="col d-flex flex-row-reverse nutrition-box-row">
                                    <div class="col nutrition-box-col">
                                        <a class="btn btn-secondary dynamic-btn themed-btn" role="button" asp-page="./Edit" asp-route-id="@item.Id" style="width: 50px;height: 40px;margin-bottom: 11px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                                <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path xmlns="http://www.w3.org/2000/svg" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                                            </svg>
                                        </a>
                                        <a class="btn btn-secondary dynamic-btn themed-btn" role="button" asp-page="./Delete" asp-route-id="@item.Id" style="width: 50px;height: 40px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                                <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path xmlns="http://www.w3.org/2000/svg" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-start flex-column nutrition-box">
                                        <p class="text-center nutrition-box-text">
                                            @item.Protein.ToString("0.##")
                                            g
                                        </p>
                                        <p class="text-center nutrition-box-text-heading">
                                            Protein
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-start flex-column nutrition-box">
                                        <p class="text-center nutrition-box-text">
                                            @item.Fat.ToString("0.##")
                                            g
                                        </p>
                                        <p class="text-center nutrition-box-text-heading">
                                            Fat
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-start flex-column nutrition-box">
                                        <p class="text-center nutrition-box-text">
                                            @item.Carbohydrates.ToString("0.##")
                                            g
                                        </p>
                                        <p class="text-center nutrition-box-text-heading">
                                            Carbs
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-start flex-column nutrition-box">
                                        <p class="text-center nutrition-box-text">
                                            @item.Calories.ToString("0.#")
                                            kcal
                                        </p>
                                        <p class="text-center nutrition-box-text-heading">
                                            Calories
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        <thead>
            <tr>
                <th scope="col" colspan="4" class="d-flex justify-content-between">
                    <div>
                        Dinner</br>
                        <p style="font-size: 0.75rem; margin: 0px; color:var(--text-primary-color);opacity: 0.75;margin-right: 55px;">
                            Calories: @Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner).Sum(m => m.Calories).ToString("0.##")kcal,
                            Carbohydrates: @Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner).Sum(m => m.Carbohydrates).ToString("0.##")g,
                            Fat: @Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner).Sum(m => m.Fat).ToString("0.##")g,
                            Protein: @Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner).Sum(m => m.Protein).ToString("0.##")g
                        </p>
                    </div>

                    <a class="btn btn-secondary dynamic-btn themed-btn" asp-page="/Log/Index" asp-route-MealType="dinner" asp-route-Date="@Model.LogDateTime" style="width: 50px;height: 40px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                            <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path xmlns="http://www.w3.org/2000/svg" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z" />
                        </svg>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner))
            {
                <tr>
                    <td>
                        <div class="row justify-content-between" style="padding: 0px 14px;">
                            <div class="col-auto">
                                <p class="truncate" style="margin-bottom: 0px;width:320px">@item.FoodName</p>
                                <span style="opacity:0.6">@item.Amount.ToString("0.##") @item.AmountSymbol</span>
                            </div>
                            <div class="col d-flex flex-row-reverse nutrition-box-row">
                                <div class="col nutrition-box-col">
                                    <a class="btn btn-secondary dynamic-btn themed-btn" role="button" asp-page="./Edit" asp-route-id="@item.Id" style="width: 50px;height: 40px;margin-bottom: 11px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path xmlns="http://www.w3.org/2000/svg" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                                        </svg>
                                    </a>
                                    <a class="btn btn-secondary dynamic-btn themed-btn" role="button" asp-page="./Delete" asp-route-id="@item.Id" style="width: 50px;height: 40px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path xmlns="http://www.w3.org/2000/svg" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Protein.ToString("0.##")
                                        g
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Protein
                                    </p>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Fat.ToString("0.##")
                                        g
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Fat
                                    </p>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Carbohydrates.ToString("0.##")
                                        g
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Carbs
                                    </p>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Calories.ToString("0.#")
                                        kcal
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Calories
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <thead>
            <tr>
                <th scope="col" colspan="4" class="d-flex justify-content-between">
                    <div>
                        Snacks</br>
                        <p style="font-size: 0.75rem; margin: 0px; color:var(--text-primary-color);opacity: 0.75;margin-right: 55px;">
                            Calories: @Model.MacronutrientData.Where(m => m.MealType == MealType.Snack).Sum(m => m.Calories).ToString("0.##")kcal,
                            Carbohydrates: @Model.MacronutrientData.Where(m => m.MealType == MealType.Snack).Sum(m => m.Carbohydrates).ToString("0.##")g,
                            Fat: @Model.MacronutrientData.Where(m => m.MealType == MealType.Snack).Sum(m => m.Fat).ToString("0.##")g,
                            Protein: @Model.MacronutrientData.Where(m => m.MealType == MealType.Snack).Sum(m => m.Protein).ToString("0.##")g
                        </p>
                    </div>

                    <a class="btn btn-secondary dynamic-btn themed-btn" asp-page="/Log/Index" asp-route-MealType="snack" asp-route-Date="@Model.LogDateTime" style="width: 50px;height: 40px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                            <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path xmlns="http://www.w3.org/2000/svg" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z" />
                        </svg>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MacronutrientData.Where(m => m.MealType == MealType.Snack))
            {
                <tr>
                    <td>
                        <div class="row justify-content-between" style="padding: 0px 14px;">
                            <div class="col-auto">
                                <p class="truncate" style="margin-bottom: 0px;width:320px">@item.FoodName</p>
                                <span style="opacity:0.6">@item.Amount.ToString("0.##") @item.AmountSymbol</span>
                            </div>
                            <div class="col d-flex flex-row-reverse nutrition-box-row">
                                <div class="col nutrition-box-col">
                                    <a class="btn btn-secondary dynamic-btn themed-btn" role="button" asp-page="./Edit" asp-route-id="@item.Id" style="width: 50px;height: 40px;margin-bottom: 11px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path xmlns="http://www.w3.org/2000/svg" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                                        </svg>
                                    </a>
                                    <a class="btn btn-secondary dynamic-btn themed-btn" role="button" asp-page="./Delete" asp-route-id="@item.Id" style="width: 50px;height: 40px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1  - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path xmlns="http://www.w3.org/2000/svg" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Protein.ToString("0.##")
                                        g
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Protein
                                    </p>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Fat.ToString("0.##")
                                        g
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Fat
                                    </p>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Carbohydrates.ToString("0.##")
                                        g
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Carbs
                                    </p>
                                </div>
                                <div class="d-flex align-items-start flex-column nutrition-box">
                                    <p class="text-center nutrition-box-text">
                                        @item.Calories.ToString("0.#")
                                        kcal
                                    </p>
                                    <p class="text-center nutrition-box-text-heading">
                                        Calories
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>