@page
@using MacroFit.Models
@model MacroFit.Pages.Foods.IndexModel
@{
    ViewData["Title"] = "Food Diary";
}
<h1>Food Diary</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <form method="get">
        <label for="date">Select date:</label>
        <input type="date" name="date" value="@Model.LogDateTime.ToString("yyyy-MM-dd")" onchange="this.form.submit()">
    </form>
</p>
<h4>Total</h4>
<p>
    @Model.MacronutrientData.Sum(b => b.Calories).ToString("0.##")kcal,
    Carbohydrates: @Model.MacronutrientData.Sum(b => b.Carbohydrates).ToString("0.##")g,
    Fat: @Model.MacronutrientData.Sum(b => b.Fat).ToString("0.##")g, 
    Protein: @Model.MacronutrientData.Sum(b => b.Protein).ToString("0.##")g
</p>
<hr />
<h4>Breakfast
    <a asp-page="/Log/Index" asp-route-MealType="breakfast" asp-route-Date="@Model.LogDateTime">Add</a>
</h4>
<p>
    Calories: @Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast).Sum(m => m.Calories).ToString("0.##")kcal,
    Carbohydrates: @Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast).Sum(m => m.Carbohydrates).ToString("0.##")g,
    Fat: @Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast).Sum(m => m.Fat).ToString("0.##")g,
    Protein: @Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast).Sum(m => m.Protein).ToString("0.##")g
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Food Name</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Fibre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MacronutrientData.Where(m => m.MealType == MealType.Breakfast))
        {
            <tr>
                <td>@item.ConsumptionTime</td>
                <td>@item.FoodName</td>
                <td>@item.Amount.ToString("0.##") @item.AmountSymbol</td>
                <td>@item.Calories.ToString("0.##")</td>
                <td>@item.Protein.ToString("0.##")</td>
                <td>@item.Carbohydrates.ToString("0.##")</td>
                <td>@item.Fat.ToString("0.##")</td>
                <td>@item.Fibre.ToString("0.##")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4>Lunch
    <a asp-page="/Log/Index" asp-route-MealType="lunch" asp-route-Date="@Model.LogDateTime">Add</a>
    </h4>
<p>
    Calories: @Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch).Sum(m => m.Calories).ToString("0.##")kcal,
    Carbohydrates: @Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch).Sum(m => m.Carbohydrates).ToString("0.##")g,
    Fat: @Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch).Sum(m => m.Fat).ToString("0.##")g,
    Protein: @Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch).Sum(m => m.Protein).ToString("0.##")g
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Food Name</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Fibre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MacronutrientData.Where(m => m.MealType == MealType.Lunch))
        {
            <tr>
                <td>@item.ConsumptionTime</td>
                <td>@item.FoodName</td>
                <td>@item.Amount.ToString("0.##") @item.AmountSymbol</td>
                <td>@item.Calories.ToString("0.##")</td>
                <td>@item.Protein.ToString("0.##")</td>
                <td>@item.Carbohydrates.ToString("0.##")</td>
                <td>@item.Fat.ToString("0.##")</td>
                <td>@item.Fibre.ToString("0.##")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4>Dinner
    <a asp-page="/Log/Index" asp-route-MealType="dinner" asp-route-Date="@Model.LogDateTime">Add</a>
</h4>
<p>
    Calories: @Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner).Sum(m => m.Calories).ToString("0.##")kcal,
    Carbohydrates: @Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner).Sum(m => m.Carbohydrates).ToString("0.##")g,
    Fat: @Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner).Sum(m => m.Fat).ToString("0.##")g,
    Protein: @Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner).Sum(m => m.Protein).ToString("0.##")g
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Food Name</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Fibre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MacronutrientData.Where(m => m.MealType == MealType.Dinner))
        {
            <tr>
                <td>@item.ConsumptionTime</td>
                <td>@item.FoodName</td>
                <td>@item.Amount.ToString("0.##") @item.AmountSymbol</td>
                <td>@item.Calories.ToString("0.##")</td>
                <td>@item.Protein.ToString("0.##")</td>
                <td>@item.Carbohydrates.ToString("0.##")</td>
                <td>@item.Fat.ToString("0.##")</td>
                <td>@item.Fibre.ToString("0.##")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4>Snacks
    <a asp-page="/Log/Index" asp-route-MealType="snack" asp-route-Date="@Model.LogDateTime">Add</a>
</h4>
<p>
    Calories: @Model.MacronutrientData.Where(m => m.MealType == MealType.Snack).Sum(m => m.Calories).ToString("0.##")kcal,
    Carbohydrates: @Model.MacronutrientData.Where(m => m.MealType == MealType.Snack).Sum(m => m.Carbohydrates).ToString("0.##")g,
    Fat: @Model.MacronutrientData.Where(m => m.MealType == MealType.Snack).Sum(m => m.Fat).ToString("0.##")g,
    Protein: @Model.MacronutrientData.Where(m => m.MealType == MealType.Snack).Sum(m => m.Protein).ToString("0.##")g
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Food Name</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Fibre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MacronutrientData.Where(m => m.MealType == MealType.Snack))
        {
            <tr>
                <td>@item.ConsumptionTime</td>
                <td>@item.FoodName</td>
                <td>@item.Amount.ToString("0.##") @item.AmountSymbol</td>
                <td>@item.Calories.ToString("0.##")</td>
                <td>@item.Protein.ToString("0.##")</td>
                <td>@item.Carbohydrates.ToString("0.##")</td>
                <td>@item.Fat.ToString("0.##")</td>
                <td>@item.Fibre.ToString("0.##")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />