@page
@using MacroFit.Models
@model MacroFit.Pages.Foods.IndexModel
@{
    ViewData["Title"] = "Food Diary";
}
<h1>Food Diary</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <form method="get">
        <label for="date">Select date:</label>
        <input type="date" name="date" value="@Model.SelectedDate.ToString("yyyy-MM-dd")" onchange="this.form.submit()">
    </form>
</p>
<h4>Total</h4>
<p> @Model.OverallData.Sum(b => b.Calories).ToString("0.##")kcal, 
    Carbohydrates: @Model.OverallData.Sum(b => b.Carbohydrates).ToString("0.##")g,
    Fat: @Model.OverallData.Sum(b => b.Fat).ToString("0.##")g, 
    Protein: @Model.OverallData.Sum(b => b.Protein).ToString("0.##")g
</p>
<hr />

<h4>Breakfast</h4>
<p>Calories: @Model.BreakfastData.Sum(b => b.Calories).ToString("0.##")kcal, 
    Carbohydrates: @Model.BreakfastData.Sum(b => b.Carbohydrates).ToString("0.##")g, 
    Fat: @Model.BreakfastData.Sum(b => b.Fat).ToString("0.##")g, 
    Protein: @Model.BreakfastData.Sum(b => b.Protein).ToString("0.##")g</p>
<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Food Name</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Fibre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BreakfastData)
        {
            <tr>
                <td>@item.ConsumptionTime</td>
                <td>@item.FoodName</td>
                <td>@item.Amount.ToString("0.##") @item.AmountSymbol</td>
                <td>@item.Calories.ToString("0.##")</td>
                <td>@item.Protein.ToString("0.##")</td>
                <td>@item.Carbohydrates.ToString("0.##")</td>
                <td>@item.Fat.ToString("0.##")</td>
                <td>@item.Fibre.ToString("0.##")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h4>Lunch</h4>

<p>
    Calories: @Model.LunchData.Sum(b => b.Calories).ToString("0.##")kcal,
    Carbohydrates: @Model.LunchData.Sum(b => b.Carbohydrates).ToString("0.##")g,
    Fat: @Model.LunchData.Sum(b => b.Fat).ToString("0.##")g, 
    Protein: @Model.LunchData.Sum(b => b.Protein).ToString("0.##")g</p>
<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Food Name</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Fibre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LunchData)
        {
            <tr>
                <td>@item.ConsumptionTime</td>
                <td>@item.FoodName</td>
                <td>@item.Amount.ToString("0.##") @item.AmountSymbol</td>
                <td>@item.Calories.ToString("0.##")</td>
                <td>@item.Protein.ToString("0.##")</td>
                <td>@item.Carbohydrates.ToString("0.##")</td>
                <td>@item.Fat.ToString("0.##")</td>
                <td>@item.Fibre.ToString("0.##")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />

<h4>Dinner</h4>

<p>Calories: @Model.DinnerData.Sum(b => b.Calories).ToString("0.##")kcal, 
    Carbohydrates: @Model.DinnerData.Sum(b => b.Carbohydrates).ToString("0.##")g, 
    Fat: @Model.DinnerData.Sum(b => b.Fat).ToString("0.##")g, 
    Protein: @Model.DinnerData.Sum(b => b.Protein).ToString("0.##")g
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Food Name</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Fibre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DinnerData)
        {
            <tr>
                <td>@item.ConsumptionTime</td>
                <td>@item.FoodName</td>
                <td>@item.Amount.ToString("0.##") @item.AmountSymbol</td>
                <td>@item.Calories.ToString("0.##")</td>
                <td>@item.Protein.ToString("0.##")</td>
                <td>@item.Carbohydrates.ToString("0.##")</td>
                <td>@item.Fat.ToString("0.##")</td>
                <td>@item.Fibre.ToString("0.##")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />

<h4>Snacks</h4>

<p>
    Calories: @Model.SnackData.Sum(b => b.Calories).ToString("0.##")kcal,
    Carbohydrates: @Model.SnackData.Sum(b => b.Carbohydrates).ToString("0.##")g,
    Fat: @Model.SnackData.Sum(b => b.Fat).ToString("0.##")g,
    Protein: @Model.SnackData.Sum(b => b.Protein).ToString("0.##")g</p>
<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Food Name</th>
            <th>Serving Size</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Fibre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SnackData)
        {
            <tr>
                <td>@item.ConsumptionTime</td>
                <td>@item.FoodName</td>
                <td>@item.Amount.ToString("0.##") @item.AmountSymbol</td>
                <td>@item.Calories.ToString("0.##")</td>
                <td>@item.Protein.ToString("0.##")</td>
                <td>@item.Carbohydrates.ToString("0.##")</td>
                <td>@item.Fat.ToString("0.##")</td>
                <td>@item.Fibre.ToString("0.##")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />